* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: white;
}
.navbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
}
.logo img {
    width: 110px;
    display: block;
}
.nav-menu {
    display: flex;
    gap: 30px;
} 
.nav-menu a {
    text-decoration: none;
    color: #555555;
    font-size: 16px;
}
.nav-menu a:hover {
    color: #536eb9;
}
.nav-button button {
    background-color: #2455dc;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 14px 32px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}  
.nav-button button:hover {
    background-color: #183fae;
}
.hero {
    width: 92%;
    min-height: 760px;

    margin: 10px auto 0;

    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.65)
        ),
        url("./assets/banner.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}
.hero-content {
    width: 75%;
    color: white;
    transform: translateY(-35px);
}
.hero-content h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 28px;
}
.hero-content h1 span {
    font-style: italic;
}
.hero-content p {
    max-width: 800px;
    margin: 0 auto 300px;
    font-size: 21px;
    line-height: 1.15;
    color: #eeeeee;
}
.hero-button {
    background-color: #2455dc;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 18px 60px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.hero-button:hover {
    background-color: #183fae;
}